<%= form_for(@legal_contract) do |f| %>
  <% if @legal_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legal_contract.errors.count, "error") %> prohibited this legal_contract from being saved:</h2>

      <ul>
      <% @legal_contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_status %><br />
    <%= f.text_field :contract_status %>
  </div>
  <div class="field">
    <%= f.label :contract_description %><br />
    <%= f.text_area :contract_description %>
  </div>
  <div class="field">
    <%= f.label :sponsor_id %><br />
    <%= f.collection_select(:sponsor_id,Sponsor.all,:id,:sponsor_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
