<h1>Listing legal_contracts</h1>

<table>
  <tr>
    <th>Contract status</th>
    <th>Contract description</th>
    <th>Sponsor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @legal_contracts.each do |legal_contract| %>
  <tr>
    <td><%= legal_contract.contract_status %></td>
    <td><%= legal_contract.contract_description %></td>
    <td><%= legal_contract.sponsor.sponsor_name %></td>
    <td><%= link_to 'Show', legal_contract %></td>
    <td><%= link_to 'Edit', edit_legal_contract_path(legal_contract) %></td>
    <td><%= link_to 'Destroy', legal_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Legal contract', new_legal_contract_path %>
