<p id="notice"><%= notice %></p>

<p>
  <b>Contract status:</b>
  <%= @legal_contract.contract_status %>
</p>

<p>
  <b>Contract description:</b>
  <%= @legal_contract.contract_description %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @legal_contract.sponsor.sponsor_name %>
</p>


<%= link_to 'Edit', edit_legal_contract_path(@legal_contract) %> |
<%= link_to 'Back', legal_contracts_path %>
