<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sponsor_name %><br />
    <%= f.text_field :sponsor_name %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.collection_select(:employee_id,Employee.all,:id,:last_name) %>
  </div>
  <div class="field">
    <%= f.label :sponsor_type %><br />
    <%= f.text_field :sponsor_type %>
  </div>
  <div class="field">
    <%= f.label :sponsor_amount %><br />
    <%= f.text_field :sponsor_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
