<h1>Listing sponsors</h1>

<table>
  <tr>
    <th>Sponsor name</th>
    <th>Employee</th>
    <th>Sponsor type</th>
    <th>Sponsor amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><%= sponsor.sponsor_name %></td>
    <td><%= sponsor.employee.last_name %></td>
    <td><%= sponsor.sponsor_type %></td>
    <td><%= sponsor.sponsor_amount %></td>
    <td><%= link_to 'Show', sponsor %></td>
    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsor', new_sponsor_path %>
