<p id="notice"><%= notice %></p>

<p>
  <b>Sponsor name:</b>
  <%= @sponsor.sponsor_name %>
</p>

<p>
  <b>Employee:</b>
  <%= @sponsor.employee.last_name %>
</p>

<p>
  <b>Sponsor type:</b>
  <%= @sponsor.sponsor_type %>
</p>

<p>
  <b>Sponsor amount:</b>
  <%= @sponsor.sponsor_amount %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
