<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Sponsor</th>
    <th>Phone num</th>
    <th>Email</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.last_name %></td>
    <td><%= contact.first_name %></td>
    <td><%= contact.sponsor.sponsor_name %></td>
    <td><%= contact.phone_num %></td>
    <td><%= contact.email %></td>
    <td><%= contact.location %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
