<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @contact.sponsor.sponsor_name %>
</p>

<p>
  <b>Phone num:</b>
  <%= @contact.phone_num %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Location:</b>
  <%= @contact.location %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
