<!DOCTYPE html>
<html>
<head>
  <title>Gemkitty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Employees", employees_path %> <%= link_to "Sponsors", sponsors_path %> <%= link_to "Contacts", contacts_path %> <%= link_to "Legal Contracts", legal_contracts_path %>

<%= yield %>

</body>
</html>
